In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# import datasets

surf = pd.read_excel('data/absSurfs.xlsx')
dist = pd.read_excel('data/distsOneSheet.xlsx')

In [3]:
surf.head()

,Site,111,112,121,122,123,124,131,132,133,...,411,412,421,422,423,511,512,521,522,523
0,F0069,0.0,1.064122e+06,3.587087e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
1,F0025,0.0,0.000000e+00,0.000000e+00,412752.692383,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
2,F0027,0.0,2.741746e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
3,B0128,0.0,2.470089e+06,4.053755e+06,497496.251770,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
4,F0023,0.0,0.000000e+00,2.559254e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,284728.392578,0,0,0.0

In [4]:
surf.sort_values(by='Site')

,Site,111,112,121,122,123,124,131,132,133,...,411,412,421,422,423,511,512,521,522,523
12,B0012,213419.497009,3.756405e+06,2.068585e+06,0.000000,0.0,0.0,0.000000,0,0.0,...,0,0.000000e+00,0,0,0.0,486328.326111,0.000000,0,0,0.0
39,B0017,0.000000,1.755395e+06,3.380723e+03,0.000000,0.0,0.0,0.000000,0,0.0,...,0,0.000000e+00,0,0,0.0,0.000000,0.000000,0,0,0.0
41,B0019,0.000000,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.000000,0,0.0,...,0,3.786370e+05,0,0,0.0,0.000000,0.000000,0,0,0.0
40,B0021,0.000000,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.000000,0,0.0,...,0,9.421463e+05,0,0,0.0,0.000000,0.000000,0,0,0.0
38,B0023,0.000000,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.000000,0,0.0,...,0,1.809062e+06,0,0,0.0,0.000000,0.000000,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,F0069,0.000000,1.064122e+06,3.587087e+05,0.000000,0.0,0.0,0.000000,0,0.0,...,0,0.000000e+00,0,0,0.0,0.000000,0.000000,0,0,0.0
5,F0071,0.000000,0.000000e+00,2.891049e+05,0.000000,0.0,0.0,61128.361328,0,0.0,...,0,0.000000e+00,0,0,0.0,0.000000,643979.018311,0,0,0.0
6,F0073,0.000000,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.000000,0,0.0,...,0,0.000000e+00,0,0,0.0,0.000000,0.000000,0,0,0.0
17,F0075,0.000000,1.687705e+06,4.422800e+05,3378.383301,0.0,0.0,0.000000,0,0.0,...,0,0.000000e+00,0,0,0.0,0.000000,0.000000,0,0,0.0
51,FE0001,0.000000,4.066819e+05,0.000000e+00,0.000000,0.0,0.0,0.000000,0,0.0,...,0,0.000000e+00,0,0,0.0,0.000000,0.000000,0,0,0.0

In [5]:
surf.shape

(63, 45)

In [6]:
surf.columns

Index(['Site', '111', '112', '121', '122', '123', '124', '131', '132', '133',
       '141', '142', '211', '212', '213', '221', '222', '223', '231', '241',
       '242', '243', '244', '311', '312', '313', '321', '322', '323', '324',
       '331', '332', '333', '334', '335', '411', '412', '421', '422', '423',
       '511', '512', '521', '522', '523'],
      dtype='object')

In [7]:
surf['clc_1'] = surf['111'] + surf['112'] + surf['121'] + surf['122'] + surf['123'] + surf['124'] + surf['131'] + surf['132'] + surf['133'] + surf['141'] + surf['142']

surf['clc_2'] = surf['211'] + surf['212'] + surf['213'] + surf['221'] + surf['222'] + surf['223'] + surf['231'] + surf['241'] + surf['242'] + surf['243'] + surf['244']

surf['clc_3'] = surf['311'] + surf['312'] + surf['313'] + surf['321'] + surf['322'] + surf['323'] + surf['324'] + surf['331'] + surf['332'] + surf['333'] + surf['334'] + surf['335']

surf['clc_4'] = surf['411'] + surf['412'] + surf['421'] + surf['422'] + surf['423']

surf['clc_5'] = surf['511'] + surf['512'] + surf['521'] + surf['522'] + surf['523']

In [8]:
surf

,Site,111,112,121,122,123,124,131,132,133,...,511,512,521,522,523,clc_1,clc_2,clc_3,clc_4,clc_5
0,F0069,0.0,1.064122e+06,3.587087e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0.0,0.000000,0,0,0.0,1.613627e+06,5.199955e+06,2.550014e+05,0.0,0.000000
1,F0025,0.0,0.000000e+00,0.000000e+00,412752.692383,0.0,0.0,0.0,0,0.0,...,0.0,0.000000,0,0,0.0,4.127527e+05,1.638610e+06,5.017221e+06,0.0,0.000000
2,F0027,0.0,2.741746e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,0.0,0.000000,0,0,0.0,2.741746e+05,3.581890e+06,3.212519e+06,0.0,0.000000
3,B0128,0.0,2.470089e+06,4.053755e+06,497496.251770,0.0,0.0,0.0,0,0.0,...,0.0,0.000000,0,0,0.0,7.021340e+06,4.724307e+04,0.000000e+00,0.0,0.000000
4,F0023,0.0,0.000000e+00,2.559254e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0.0,284728.392578,0,0,0.0,2.559254e+05,3.566308e+06,2.961621e+06,0.0,284728.392578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,F0007,0.0,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,0.0,0.000000,0,0,0.0,0.000000e+00,3.801293e+06,3.267290e+06,0.0,0.000000
59,B0069,0.0,8.704243e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,0.0,0.000000,0,0,0.0,1.148526e+06,5.681678e+06,2.383795e+05,0.0,0.000000
60,B0152,0.0,4.575279e+06,5.726391e+05,201434.000214,0.0,0.0,0.0,0,0.0,...,0.0,0.000000,0,0,0.0,5.349352e+06,1.377615e+06,3.416169e+05,0.0,0.000000
61,F0003,0.0,3.425116e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,0.0,0.000000,0,0,0.0,3.425116e+05,6.462237e+05,6.079848e+06,0.0,0.000000
62,B0158,0.0,1.467398e+05,0.000000e+00,318178.187439,0.0,0.0,0.0,0,0.0,...,0.0,0.000000,0,0,0.0,4.649180e+05,6.603665e+06,0.000000e+00,0.0,0.000000

In [9]:
surf = surf.round(2)

In [10]:
clc1 = surf[['Site', 'clc_1', 'clc_2', 'clc_3', 'clc_4', 'clc_5']]
clc1.sort_values(by='Site', inplace=True)

In [11]:
clc1

      Site       clc_1       clc_2       clc_3       clc_4      clc_5
12   B0012  6038409.15   290404.21   253441.67        0.00  486328.33
39   B0017  1758775.55  1596366.49  3713441.32        0.00       0.00
41   B0019        0.00        0.00  6689946.33   378637.02       0.00
40   B0021        0.00   269517.65  5856919.35   942146.35       0.00
38   B0023   194534.06   914975.64  4150011.72  1809061.93       0.00
..     ...         ...         ...         ...         ...        ...
0    F0069  1613626.87  5199955.10   255001.41        0.00       0.00
5    F0071   350233.25  4251895.86  1822475.21        0.00  643979.02
6    F0073        0.00  1019290.87  6049292.49        0.00       0.00
17   F0075  2133363.39  4935219.99        0.00        0.00       0.00
51  FE0001   406681.89  6442268.74   219632.73        0.00       0.00

[63 rows x 6 columns]

In [12]:
clc1.to_csv('data/clc1.csv')

In [13]:
dist

      Site     polyID  classCLC         dist
0    F0069   FR-88090       231  1183.022362
1    F0069  FR-131773       242   289.926324
2    F0069   FR-46167       211   221.344153
3    F0069   FR-11047       112  1038.383069
4    F0069  FR-195343       311   724.045683
..     ...        ...       ...          ...
627  B0158    BE-9408       231   959.550638
628  B0158    BE-9434       231  1103.848468
629  B0158   BE-12970       242  1229.411653
630  B0158   BE-12998       242  1210.875452
631  B0158   BE-18855       243     0.000000

[632 rows x 4 columns]

In [14]:
f_dist = dist[dist['dist'] == 0].sort_values(by='Site')
f_dist

       Site    polyID  classCLC  dist
115   B0012   BE-4014       121   0.0
406   B0017  BE-23791       313   0.0
421   B0019  BE-22542       312   0.0
417   B0021  BE-23796       313   0.0
394   B0023  BE-24779       412   0.0
..      ...       ...       ...   ...
7     F0069  FR-27481       121   0.0
45    F0071  FR-37554       211   0.0
65    F0073  FR-38154       211   0.0
152   F0075  FR-59263       211   0.0
517  FE0001  FR-15430       112   0.0

[63 rows x 4 columns]

In [15]:
ds_j = f_dist.join(clc1.set_index('Site'), on='Site')
#ds_j

In [16]:
ds_j.drop(['classCLC', 'dist'], axis=1, inplace=True)

In [17]:
ds_j

,Site,polyID,clc_1,clc_2,clc_3,clc_4,clc_5
115,B0012,BE-4014,6038409.15,290404.21,253441.67,0.00,486328.33
406,B0017,BE-23791,1758775.55,1596366.49,3713441.32,0.00,0.00
421,B0019,BE-22542,0.00,0.00,6689946.33,378637.02,0.00
417,B0021,BE-23796,0.00,269517.65,5856919.35,942146.35,0.00
394,B0023,BE-24779,194534.06,914975.64,4150011.72,1809061.93,0.00
...,...,...,...,...,...,...,...
7,F0069,FR-27481,1613626.87,5199955.10,255001.41,0.00,0.00
45,F0071,FR-37554,350233.25,4251895.86,1822475.21,0.00,643979.02
65,F0073,FR-38154,0.00,1019290.87,6049292.49,0.00,0.00
152,F0075,FR-59263,2133363.39,4935219.99,0.00,0.00,0.00
517,FE0001,FR-15430,406681.89,6442268.74,219632.73,0.00,0.00

In [38]:
# ds_j['clc_1'] / ds_j['clc_1'] + ds_j['clc_1'] 
ds_j[['clc_1', 'clc_2', 'clc_3', 'clc_4', 'clc_5']] = ds_j[['clc_1', 'clc_2', 'clc_3', 'clc_4', 'clc_5']].apply(lambda x: (x/x.sum() * 100).round(1), axis=1)

In [39]:
ds_j

       Site    polyID  clc_1  clc_2  clc_3  clc_4  clc_5
115   B0012   BE-4014   85.4    4.1    3.6    0.0    6.9
406   B0017  BE-23791   24.9   22.6   52.5    0.0    0.0
421   B0019  BE-22542    0.0    0.0   94.6    5.4    0.0
417   B0021  BE-23796    0.0    3.8   82.9   13.3    0.0
394   B0023  BE-24779    2.8   12.9   58.7   25.6    0.0
..      ...       ...    ...    ...    ...    ...    ...
7     F0069  FR-27481   22.8   73.6    3.6    0.0    0.0
45    F0071  FR-37554    5.0   60.1   25.8    0.0    9.1
65    F0073  FR-38154    0.0   14.4   85.6    0.0    0.0
152   F0075  FR-59263   30.2   69.8    0.0    0.0    0.0
517  FE0001  FR-15430    5.8   91.1    3.1    0.0    0.0

[63 rows x 7 columns]

In [58]:
dell = ['F0045', 'F0059', 'F0075']

In [76]:
surf_hm = ds_j[~ds_j['Site'].isin(dell)]

In [77]:
surf_hm.drop('polyID', axis=1, inplace=True)

In [78]:
surf_hm.head(10)

      Site  clc_1  clc_2  clc_3  clc_4  clc_5
115  B0012   85.4    4.1    3.6    0.0    6.9
406  B0017   24.9   22.6   52.5    0.0    0.0
421  B0019    0.0    0.0   94.6    5.4    0.0
417  B0021    0.0    3.8   82.9   13.3    0.0
394  B0023    2.8   12.9   58.7   25.6    0.0
475  B0032   46.4   36.6   17.0    0.0    0.0
230  B0037   28.4   66.7    4.9    0.0    0.0
243  B0039   58.2   21.1    5.0    4.9   10.8
211  B0041   50.5   49.5    0.0    0.0    0.0
236  B0043   24.9   71.8    0.0    0.0    3.3

In [79]:
surf_hm.to_csv('data/surf_hm.csv')