In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# import datasets

surf = pd.read_excel('data/absSurfs.xlsx')
dist = pd.read_excel('data/distsOneSheet.xlsx')

In [4]:
surf.head()

,Site,111,112,121,122,123,124,131,132,133,...,411,412,421,422,423,511,512,521,522,523
0,F0069,0.0,1.064122e+06,3.587087e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
1,F0025,0.0,0.000000e+00,0.000000e+00,412752.692383,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
2,F0027,0.0,2.741746e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
3,B0128,0.0,2.470089e+06,4.053755e+06,497496.251770,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
4,F0023,0.0,0.000000e+00,2.559254e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,284728.392578,0,0,0.0

In [10]:
surf.sort_values(by='Site')

,Site,111,112,121,122,123,124,131,132,133,...,411,412,421,422,423,511,512,521,522,523
12,B0012,213419.497009,3.756405e+06,2.068585e+06,0.000000,0.0,0.0,0.000000,0,0.0,...,0,0.000000e+00,0,0,0.0,486328.326111,0.000000,0,0,0.0
39,B0017,0.000000,1.755395e+06,3.380723e+03,0.000000,0.0,0.0,0.000000,0,0.0,...,0,0.000000e+00,0,0,0.0,0.000000,0.000000,0,0,0.0
41,B0019,0.000000,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.000000,0,0.0,...,0,3.786370e+05,0,0,0.0,0.000000,0.000000,0,0,0.0
40,B0021,0.000000,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.000000,0,0.0,...,0,9.421463e+05,0,0,0.0,0.000000,0.000000,0,0,0.0
38,B0023,0.000000,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.000000,0,0.0,...,0,1.809062e+06,0,0,0.0,0.000000,0.000000,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,F0069,0.000000,1.064122e+06,3.587087e+05,0.000000,0.0,0.0,0.000000,0,0.0,...,0,0.000000e+00,0,0,0.0,0.000000,0.000000,0,0,0.0
5,F0071,0.000000,0.000000e+00,2.891049e+05,0.000000,0.0,0.0,61128.361328,0,0.0,...,0,0.000000e+00,0,0,0.0,0.000000,643979.018311,0,0,0.0
6,F0073,0.000000,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.000000,0,0.0,...,0,0.000000e+00,0,0,0.0,0.000000,0.000000,0,0,0.0
17,F0075,0.000000,1.687705e+06,4.422800e+05,3378.383301,0.0,0.0,0.000000,0,0.0,...,0,0.000000e+00,0,0,0.0,0.000000,0.000000,0,0,0.0
51,FE0001,0.000000,4.066819e+05,0.000000e+00,0.000000,0.0,0.0,0.000000,0,0.0,...,0,0.000000e+00,0,0,0.0,0.000000,0.000000,0,0,0.0

In [5]:
surf.shape

(63, 45)

In [13]:
surf.columns

Index(['Site', '111', '112', '121', '122', '123', '124', '131', '132', '133',
       '141', '142', '211', '212', '213', '221', '222', '223', '231', '241',
       '242', '243', '244', '311', '312', '313', '321', '322', '323', '324',
       '331', '332', '333', '334', '335', '411', '412', '421', '422', '423',
       '511', '512', '521', '522', '523'],
      dtype='object')

In [16]:
for col in surf.columns:
    if str(col) == 'Site':
        pass
    else:
        clc1 = int(int(col)/100)
        clc2 = int(int(col)/10)
        if str(clc1) in surf.columns:
            surf[str(clc1)] += surf[col]
        else:
            surf[str(clc1)] = surf[col]
        if str(clc2) in surf.columns:
            surf[str(clc2)] += surf[col]
        else:
            surf[str(clc2)] = surf[col]

In [17]:
surf

,Site,111,112,121,122,123,124,131,132,133,...,3,31,32,33,4,41,42,5,51,52
0,F0069,0.0,1.064122e+06,3.587087e+05,0.000000,0.0,0.0,0.0,0,0.0,...,2.550014e+05,2.550014e+05,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
1,F0025,0.0,0.000000e+00,0.000000e+00,412752.692383,0.0,0.0,0.0,0,0.0,...,5.017221e+06,4.498313e+06,518907.404297,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
2,F0027,0.0,2.741746e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,3.212519e+06,3.212519e+06,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
3,B0128,0.0,2.470089e+06,4.053755e+06,497496.251770,0.0,0.0,0.0,0,0.0,...,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
4,F0023,0.0,0.000000e+00,2.559254e+05,0.000000,0.0,0.0,0.0,0,0.0,...,2.961621e+06,2.938245e+06,23375.861328,0.0,0.0,0.0,0.0,284728.392578,284728.392578,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,F0007,0.0,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,3.267290e+06,3.267290e+06,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
59,B0069,0.0,8.704243e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,2.383795e+05,2.383795e+05,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
60,B0152,0.0,4.575279e+06,5.726391e+05,201434.000214,0.0,0.0,0.0,0,0.0,...,3.416169e+05,0.000000e+00,341616.858246,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
61,F0003,0.0,3.425116e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,6.079848e+06,6.079848e+06,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
62,B0158,0.0,1.467398e+05,0.000000e+00,318178.187439,0.0,0.0,0.0,0,0.0,...,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0